<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.dbflow.infrastructure.repository.mapper.CommitMapper">

    <insert id="insertCommitLog"
            parameterType="io.dbflow.domain.CommitLog"
            useGeneratedKeys="true"
            keyProperty="commitLogId"
            keyColumn="COMMIT_LOG_ID">
        INSERT INTO DBF_COMMIT_LOG
        (
        DB_CONFIG_ID,
        COMMIT_TITLE,
        COMMIT_CONTENT,
        USER_ID,
        COMMIT_CREATED_AT
        )
        VALUES
        (
        #{dbConfigId,jdbcType=INTEGER},
        #{commitTitle,jdbcType=VARCHAR},
        #{commitContent,jdbcType=VARCHAR},
        #{userId,jdbcType=INTEGER},
        #{commitCreatedAt,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertCommitTargetFromWork">
        INSERT INTO DBF_COMMIT_TARGET
        (
        COMMIT_LOG_ID,
        DB_CONFIG_ID,
        OBJECT_TYPE,
        OBJECT_NAME,
        OBJECT_COMMENT,
        CHANGE_TYPE
        )
        SELECT
        #{commitLogId},
        DB_CONFIG_ID,
        OBJECT_TYPE,
        OBJECT_NAME,
        OBJECT_COMMENT,
        CHANGE_TYPE
        FROM DBF_WORK_TARGET
        WHERE DB_CONFIG_ID = #{dbConfigId}
    </insert>

    <insert id="insertCommitComponentFromWork">
        INSERT INTO DBF_COMMIT_COMPONENT
        (
        COMMIT_TARGET_ID,
        COMPONENT_TYPE,
        COMPONENT_NAME,
        COMPONENT_COMMENT,
        CHANGE_TYPE
        )
        SELECT
        CT.COMMIT_TARGET_ID,
        WC.COMPONENT_TYPE,
        WC.COMPONENT_NAME,
        WC.COMPONENT_COMMENT,
        WC.CHANGE_TYPE
        FROM DBF_WORK_COMPONENT WC
        JOIN DBF_WORK_TARGET WT
        ON WC.WORK_TARGET_ID = WT.WORK_TARGET_ID
        JOIN DBF_COMMIT_TARGET CT
        ON CT.COMMIT_LOG_ID = #{commitLogId}
        AND CT.DB_CONFIG_ID = WT.DB_CONFIG_ID
        AND CT.OBJECT_TYPE = WT.OBJECT_TYPE
        AND CT.OBJECT_NAME = WT.OBJECT_NAME
        WHERE WT.DB_CONFIG_ID = #{dbConfigId}
    </insert>

    <insert id="insertCommitChangeFromWork">
        INSERT INTO DBF_COMMIT_CHANGE
        (
        COMMIT_COMPONENT_ID,
        CHANGE_COLUMN,
        BEFORE_VALUE,
        AFTER_VALUE
        )
        SELECT
        CC.COMMIT_COMPONENT_ID,
        WCH.CHANGE_COLUMN,
        WCH.BEFORE_VALUE,
        WCH.AFTER_VALUE
        FROM DBF_WORK_CHANGE WCH
        JOIN DBF_WORK_COMPONENT WC
        ON WCH.WORK_COMPONENT_ID = WC.WORK_COMPONENT_ID
        JOIN DBF_WORK_TARGET WT
        ON WC.WORK_TARGET_ID = WT.WORK_TARGET_ID
        JOIN DBF_COMMIT_TARGET CT
        ON CT.COMMIT_LOG_ID = #{commitLogId}
        AND CT.DB_CONFIG_ID = WT.DB_CONFIG_ID
        AND CT.OBJECT_TYPE = WT.OBJECT_TYPE
        AND CT.OBJECT_NAME = WT.OBJECT_NAME
        JOIN DBF_COMMIT_COMPONENT CC
        ON CC.COMMIT_TARGET_ID = CT.COMMIT_TARGET_ID
        AND CC.COMPONENT_TYPE = WC.COMPONENT_TYPE
        AND CC.COMPONENT_NAME = WC.COMPONENT_NAME
        WHERE WT.DB_CONFIG_ID = #{dbConfigId}
    </insert>

    <select id="selectCommitLogList" resultType="io.dbflow.dto.CommitLogView">
        SELECT DCL.COMMIT_LOG_ID
             , DDC.DB_ALIAS
             , DDC.DB_NAME
             , DCL.COMMIT_TITLE
             , DCL.COMMIT_CONTENT
             , DCL.USER_ID
             , DCL.COMMIT_CREATED_AT
          FROM DBF_COMMIT_LOG DCL
         INNER JOIN DBF_DB_CONFIG DDC ON DCL.DB_CONFIG_ID = DDC.DB_CONFIG_ID
         WHERE DCL.DB_CONFIG_ID = #{user.dbConfigId}
         ORDER BY COMMIT_LOG_ID
         LIMIT #{limit}
    </select>

    <select id="selectCommitLog" resultType="io.dbflow.dto.CommitLogView">
        SELECT DCL.COMMIT_LOG_ID
             , DDC.DB_ALIAS
             , DDC.DB_NAME
             , DCL.COMMIT_TITLE
             , DCL.COMMIT_CONTENT
             , DCL.USER_ID
             , DCL.COMMIT_CREATED_AT
          FROM DBF_COMMIT_LOG DCL
         INNER JOIN DBF_DB_CONFIG DDC ON DCL.DB_CONFIG_ID = DDC.DB_CONFIG_ID
         WHERE DCL.DB_CONFIG_ID = #{user.dbConfigId}
           AND DCL.COMMIT_LOG_ID = #{commitLogId}
    </select>

    <select id="selectCommitTargetList" resultType="io.dbflow.dto.CommitTargetView">
        SELECT DCT.OBJECT_TYPE
             , DCT.OBJECT_NAME
             , DCT.OBJECT_COMMENT
             , DCT.CHANGE_TYPE
          FROM DBF_COMMIT_TARGET DCT
         WHERE DCT.COMMIT_LOG_ID = #{commitLogId}
         ORDER BY CASE DCT.CHANGE_TYPE WHEN 'ADD' THEN 1 WHEN 'MOD' THEN 2 WHEN 'DEL' THEN 3 ELSE 99 END, DCT.COMMIT_TARGET_ID
    </select>

    <select id="selectCommitTarget" resultType="io.dbflow.dto.CommitTargetView">
        SELECT DCT.COMMIT_TARGET_ID
             , DCT.OBJECT_TYPE
             , DCT.OBJECT_NAME
             , DCT.OBJECT_COMMENT
             , DCT.CHANGE_TYPE
          FROM DBF_COMMIT_TARGET DCT
         WHERE DCT.COMMIT_LOG_ID = #{commitLogId}
           AND DCT.OBJECT_NAME = #{objectName}
    </select>

    <select id="selectCommitComponentChangeList" resultType="io.dbflow.dto.CommitComponentChangeView">
        SELECT COM.COMPONENT_TYPE
             , COM.COMPONENT_NAME
             , COM.COMPONENT_COMMENT
             , COM.CHANGE_TYPE
             , CHA.CHANGE_COLUMN
             , CHA.BEFORE_VALUE
             , CHA.AFTER_VALUE
          FROM DBF_COMMIT_COMPONENT COM
         INNER JOIN DBF_COMMIT_CHANGE CHA ON COM.COMMIT_COMPONENT_ID = CHA.COMMIT_COMPONENT_ID
         WHERE COM.COMMIT_TARGET_ID = #{commitTargetId}
        <if test="componentName != null and componentName != ''">
           AND COM.COMPONENT_NAME = #{componentName}
        </if>
         ORDER BY CASE COM.CHANGE_TYPE WHEN 'ADD' THEN 1 WHEN 'MOD' THEN 2 WHEN 'DEL' THEN 3 ELSE 99 END
                , COM.COMMIT_COMPONENT_ID
    </select>
</mapper>
